@font-face {
    font-family: myFirstFont;
    src: url(/pixeltype.ttf)
}

*{
    box-sizing: border-box;
    font-family: myFirstFont;
    overflow: hidden;
}

body{
    margin: 0;
    background-color: #2a51c7;
}

.right h3{
    text-align: center;
    font-size: x-large;
    color: #493232;
}

.column {
    float: left;
}



.circle {
    width: 60%;
    height: 100vh;
    overflow: hidden;
    animation-name: huaChu;
    animation-duration: 1s;
    animation-play-state: paused;
    background-image: url("/art_resource/welcome.jpg");
}

.right {
    width: 40%;
    height: 100vh;
    overflow: hidden;
    animation-name: rightHuadong;
    animation-duration: 1s;
    animation-play-state: paused;
    background-size: cover;
    background-image: url("/art_resource/welcome2.jpg");
}

.right h1{
    text-align: center;
    margin-top: 20vh;
    font-size: 70px;
    color: #493232;
}


.circle-container{
    width: 148%;
    height: 148%;
    position: relative;
    top: 49vh;
    left: 0;
    transform: translate(-50%, -50%);
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-image: url("/art_resource/fangdatuoxie1.png");
    background-position: center;
    background-size: contain;
}



.circle-container:hover{
    animation-play-state: paused;
    width: 150%;
    height: 150%;
}

a {
    text-shadow: 5px 5px white;
}
.board a{
    margin-left: 35%;
    color: black;
    font-size: 10vh;
}

a:hover{
    color: white;
    text-shadow: 5px 5px black;
}

.board{
    margin-top: 20%;
    background-image: url("/art_resource/box.png");
    background-size: cover;
    width: 100%;
    height: 60%;
}



@keyframes rightHuadong{
    0% {transform:translate(0%, 0%)}
    100% {transform:translate(105%, 0%)}
}


@keyframes huaChu{
    0% {transform:translate(0%, 0%)}
    100% {transform:translate(-120%, 0%)}
}

@keyframes example {
    0%   {transform:translate(-50%, -50%) rotate(0deg)}
    25%  {transform:translate(-50%, -50%) rotate(90deg)}
    50%  {transform:translate(-50%, -50%) rotate(180deg)}
    75%  {transform:translate(-50%, -50%) rotate(270deg)}
    100% {transform:translate(-50%, -50%) rotate(360deg)}
}

@keyframes up{
    0% {transform:translate(0%, 120%)}
    100% {transform:translate(0%, 0%)}
}


.main-interface {
    height: 100vh;
    width: 100%;
    animation-name: up;
    animation-duration: 1s;
    animation-play-state: paused;
    padding-top: 4vh;
    background-size: contain;
    background-image: url("/art_resource/weather.jpg");
}

.tables {
    width: 60%;
    height: 100vh;
    overflow: hidden;
}

.weather {
    width: 40%;
    height: 100vh;
    overflow: hidden;
}

.content{
    margin-top: 20%;
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("/art_resource/weather.png");
    background-size: contain;
}

.content h2{
    margin-top: 10%;
    margin-left: 10%;
    font-size: x-large;
}
.content img{
    margin-top: 10%;
    margin-left: 10%;
    object-fit: cover;
}

.links{
    display: block;
    height: 10vh;
    width: 50%;
    background-image: url("/art_resource/table.png");
    background-size: cover;
    margin-left: 20%;
    margin-top: 30px;
    padding-top: 5px;
    padding-left: 20px;
}

.links p {
    margin-top: 20px;
    font-size: 40px;

}

.links:hover{
    height: 11vh;
    width: 55%;
}


.loading-screen{
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgb(80, 134, 99);
}

.title{
    margin-top: 10vh;
    margin-left: 20vh;
    background-color: black;
    font-size: xx-large;
}